<div class="row">
    <div class="col-md-6">
        <h5>Basic Information</h5>
        <p><strong>Name:</strong> {{ college.name }}</p>
        <p><strong>Website:</strong> <a href="{{ college.website }}" target="_blank">{{ college.website }}</a></p>
        <p><strong>Email:</strong> {{ college.email }}</p>
    </div>
    <div class="col-md-6">
        <h5>Contact Details</h5>
        <p><strong>Mobile:</strong> {{ college.mobile }}</p>
        <p><strong>Address:</strong> {{ college.address }}</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <h5>Location</h5>
        <p><strong>District:</strong> {{ college.district }}</p>
        <p><strong>State:</strong> {{ college.state }}</p>
        <p><strong>Country:</strong> {{ college.country }}</p>
    </div>
    <div class="col-md-6">
        <h5>Timestamps</h5>
        <p><strong>Created At:</strong> {{ college.created_at|date:"M d, Y H:i" }}</p>
        <p><strong>Last Updated:</strong> {{ college.updated_at|date:"M d, Y H:i" }}</p>
    </div>
</div>